<head>
    <meta charset="utf-8">
    <title>CSS - Sprite - Positionizr</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#ffbf00" />
    <link rel="stylesheet" href="{{absolute_path}}/style.css" />
    <link rel="stylesheet" href="{{absolute_path}}/theme.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <script type="text/javascript" src="{{absolute_path}}/vendor/jquery.js"></script>
    <script type="text/javascript" src="{{absolute_path}}/vendor/lodash.js"></script>
    <script type="text/javascript" src="{{absolute_path}}/script.js"></script>
</head>